table{
    width: 100%;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
   padding: 10px;
   margin: 25px;
  }
form{
    text-align: justify;
    padding: 7%;
    padding-top: 0%;
}
#form1{
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
}
label{
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}
input{
    margin-left: 100px;
    margin-right: 40px;
    margin: 20px;
    width: 250px;
    height: 50px;
}
button{
    margin-left: 40%;
    margin-top: 50px;
    height: 30px;
    width: 100px;
    background-color: orange;
}
